In [7]:
import pandas as pd
df = pd.read_csv("housingdata.csv")

In [9]:
print(df.head(6))

           PID        STATE      PRICE NUM_BEDROOMS NUM_BATH   SQ_FT
0  100001000.0           MP     321654            3        1  1000.0
1  100002000.0  MAHARASHTRA      21325            3      1.5     NaN
2  100003000.0           AP    2541654          NaN        1   850.0
3  100004000.0           TN     321321            1      NaN   700.0
4          NaN           TN  589465645            3        2  1600.0
5  100006000.0           TN   65465466          NaN        1   800.0

In [10]:
print(df.columns)
print(df.index)

Index(['PID', 'STATE', 'PRICE', 'NUM_BEDROOMS', 'NUM_BATH', 'SQ_FT'], dtype='object')
RangeIndex(start=0, stop=9, step=1)

In [11]:
x,y = df.shape
print("No of state: ",x)
c = df['STATE'].nunique()
print("No of unique state: ",c)

No of state:  9
No of unique state:  6

In [12]:
null_boolean = df.isna()
print(null_boolean.head(6))

     PID  STATE  PRICE  NUM_BEDROOMS  NUM_BATH  SQ_FT
0  False  False  False         False     False  False
1  False  False  False         False     False   True
2  False  False  False          True     False  False
3  False  False  False         False      True  False
4   True  False  False         False     False  False
5  False  False  False          True     False  False

In [13]:
df = df.dropna(subset=["NUM_BEDROOMS"])
df['NUM_BATH'] = df['NUM_BATH'].fillna(method='ffill', axis=0, limit=1)
m = df['SQ_FT'].dropna().mean()
df['SQ_FT'].fillna(m,inplace = True)
s = df['SQ_FT'].sum()
print(s)

8470.0

In [14]:
df['NUM_STORE'] = 1
tn_df = df[df['STATE'] == "TN"]
print(tn_df)

           PID STATE      PRICE NUM_BEDROOMS NUM_BATH   SQ_FT  NUM_STORE
3  100004000.0    TN     321321            1      1.5   700.0          1
4          NaN    TN  589465645            3        2  1600.0          1

In [15]:
SQ_df = df[df['SQ_FT'] > 1000]
print(SQ_df)

           PID        STATE      PRICE NUM_BEDROOMS NUM_BATH   SQ_FT  \
1  100002000.0  MAHARASHTRA      21325            3      1.5  1210.0
4          NaN           TN  589465645            3        2  1600.0
7  100008000.0           HP      23131            1        1  1210.0
8  100009000.0           HP      21212           na        2  1800.0

   NUM_STORE
1          1
4          1
7          1
8          1

In [16]:
new_df = df.iloc[:3, :3]
print(new_df)

           PID        STATE   PRICE
0  100001000.0           MP  321654
1  100002000.0  MAHARASHTRA   21325
3  100004000.0           TN  321321

In [17]:
df['Price_Per_Sq_Ft'] = df['PRICE'] / df['SQ_FT']
state_avg = df.groupby('STATE')['Price_Per_Sq_Ft'].mean()

state_high = state_avg.idxmax()

print("The state with the highest average price per square foot is ",state_high,".")

The state with the highest average price per square foot is  TN .